@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Futura Condensed';
	src: url('fonts/FuturaCondensedPlain.eot');
	src: local('Futura Condensed Plain:001.004'), local('FuturaCondensedPlain'),
		url('fonts/FuturaCondensedPlain.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaCondensedPlain.woff') format('woff'),
		url('fonts/FuturaCondensedPlain.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AD-00AE, U+00B0-00B1, U+00B6-00B7, U+00BB, U+0410-044F, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2122;
}

@font-face {
	font-family: 'Futura_Condenced-Normal';
	src: url('fonts/Futura_Condenced-Normal.eot');
	src: local('Futura_Condenced-Normal'),
		url('fonts/Futura_Condenced-Normal.eot?#iefix') format('embedded-opentype'),
		url('fonts/Futura_Condenced-Normal.woff') format('woff'),
		url('fonts/Futura_Condenced-Normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007E, U+00A0, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0, U+00B6, U+0410-044F;
}

body {
  font-family: 'Futura_Condenced-Normal', 'Futura Condensed', sans-serif;
  font-kerning: none;
}

@layer components {
  .tv-stage {
    background-color: #1d4ed8;
    background-image: radial-gradient(ellipse 75% 75% at 50% 50%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.42) 100%);
  }
}
